{% extends "../base.html" %}
{% load static %}

{% block title %}Mapa de Circuitos{% endblock %}
{% block nav_mapa %}active{% endblock %}

{% block brand_stats %}
<span class="stats">{{ total }} circuitos en el mapa</span>
{% endblock %}

{% block content %}
{% block content %}
<div id="map-container">
    {{ map_html|safe }}
</div>
{% endblock %}
{% endblock %}

{% block extra_css %}
<style>
    html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#map-container {
    width: 100%;
    height: calc(100vh - 60px);
    padding: 0;
    margin: 0;
}
#map-container > div,
#map-container iframe {
    height: 100% !important;
    width: 100% !important;
}
</style>

{% endblock %}